<!DOCTYPE html>
<html>
<head>
  <title>Familysearch</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
<% if logged_in? %>
	<%= link_to "logout", session_path, :method => :delete %>
<% else %>
	<%= link_to "login", new_session_path %>
<% end %>
</div>
<%= yield %>

</body>
</html>
